<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriStyle</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poiret+One&display=swap" rel="stylesheet">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">

    <!-- Css generico -->
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/general/footer.css">
    <link rel="stylesheet" href="/css/general/header.css">
    <!-- Css real -->
    <link rel="stylesheet" href="/css/views/index.css">
    
</head>

<body>
    <div>

        <!--************************************************************************************************************* 
            Header
        **************************************************************************************************************-->

        <header class="main-header">
            <section class="top-header">
                <article>
                    <a href="#" class="burger-menu"> 
                        <i class="fa fa-bars burger"></i>
                    </a>
                </article>
                <article>      
                    <figure class="img-logo">
                        <a href="/"><img src="images\Logo_1.jpg" alt="Logo Pagina"></a>
                    </figure>
                </article>
                <article>    
                    <a href="#" class="user">
                        <i class="fas fa-user"></i>
                    </a>
                </article>
                <article>
                    <nav class="navbar">
                        <ul class="left-navbar">
                            <li><a href="#">Hombre</a></li>
                            <li><a href="#">Mujer</a></li>
                            <li><a href="#">Ofertas</a></li>
                        </ul>

                        <ul class="right-navbar">
                            <li><a href="#">Iniciar Sesión</a></li>
                            <li><a href="#">Registrarse</a></li>
                        </ul>

                    </nav>
                </article>
                <article>
                    <button class="cart">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </article>
            </section>
            <section>
                <article class="main-searchbar">
                    <form action="GET" class="search-bar">
                        <input type="search" name="BarraBusqueda" placeholder="Buscar productos">
                        <button type="submit" class="icono-barrabusqueda">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </article>
            </section>
        </header>

        <!--************************************************************************************************************* 
            Main
        **************************************************************************************************************-->

        <main>
            <!-- Links temporales -->
             <div>
                <a href="/login">Login</a>
            </div>
            <div>
                <a href="/register">Register</a>
            </div>
            <div>
                <a href="/productDetail">Product Detail</a>
            </div>
            <div>
                <a href="/productCart">Product Cart</a>
            </div> 

            <div class="top-carrusel">
                <section>
                    <figure>
                        <img src="https://picsum.photos/200/300" class="imagen-carrusel">
                    </figure>
                    <h1>¡Rebajas CriStyle!</h1>
                    <p> Una página donde las prendas estan a la altura de tu estilo </p>
                </section>
            </div>
            <div class="productos-flex">
                <div class="productos-home">
                    <section>
                        <figure>
                            <img src="https://picsum.photos/200/300" class="imgagen-productos">
                        </figure>
                        <h3>VESTIDO SUNRISE</h3>
                        <p>$4.500</p>
                    </section>
                </div>
                <div class="productos-home">
                    <section>
                        <figure>
                            <img src="https://picsum.photos/200/300" class="imgagen-productos">
                        </figure>
                        <h3> CAMPERA PRETTYSTYLE</h3>
                        <p>$12.000</p>
                    </section>
                </div>
                <div class="productos-home">
                    <section>
                        <figure>
                            <img src="https://picsum.photos/200/300" class="imgagen-productos">
                        </figure>
                        <h3>CHUPÍN ROMA BLACK STONE</h3>
                        <p>$3.000</p>
                    </section>
                </div>
                <div class="productos-home">
                    <section>
                        <figure>
                            <img src="https://picsum.photos/200/300" class="imgagen-productos">
                        </figure>
                        <h3>MONO VENEC PRINT</h3>
                        <p>$3.750</p>
                    </section>
                </div>
            </div>
        </main>

        <!--************************************************************************************************************* 
            Footer
        **************************************************************************************************************-->

        <footer>
            <section class="footer">

                <section class="footer-links">
                    <section class="footer-links-izq">
                        <div>
                            <p>Hazte miembro</p>
                        </div>
                        <div>
                            <p>Buscar una tienda</p>
                        </div>
                        <div>
                            <p>Newsletter</p>
                        </div>
                    </section>
                    
                    <section class="footer-links-der"> 
                        <div>
                            <p>Estado del pedido</p>
                        </div>
                        <div>
                            <p>Envío y seguimiento</p>
                        </div>
                        <div>
                            <p>Contacto</p>
                        </div>
                    </section>
                </section>

                <section class="social-media">
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>    
                    </div>
                    <div>
                        <i class="fab fa-youtube-square"></i>    
                    </div>
                    <div>
                        <i class="fab fa-instagram-square"></i>    
                    </div>
                </section>

            </section>
        </footer>
    </div>
    
</body>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>