<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriStyle</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poiret+One&display=swap" rel="stylesheet">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">

    <!-- Css generico -->
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/general/footer.css">
    <link rel="stylesheet" href="/css/general/header.css">
    <!-- Css real -->
    <link rel="stylesheet" href="/css/views/index.css">
    
</head>

<body>
    <div>
        <header>
            <figure>
                <img src="images\Logo_1.jpg" alt="Logo Pagina">
            </figure>

            <nav>
                <ul>
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>

                <ul>
                    <li><a href="#">Iniciar Sesión</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>

            </nav>
            <form action="GET">
                <input type="search" name="BarraBusqueda" placeholder="Buscar productos">
                <button type="submit" class="icono-barrabusqueda">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button>
                <i class="fas fa-shopping-cart"></i>
            </button>

        </header>
        <main>
            <div>
                <section>
                    <figure>
                        
                    </figure>
                    <h1></h1>
                    <p>AlgoAlgoAlgoAlgoAlgoAlgoAlgoAlgoAlgoAlgoAlgoAlgoAlgoAlgo</p>
                </section>
            </div>
            <div>
                <section>
                    <figure></figure>
                    <h2></h2>
                    <p></p>
                </section>
            </div>
            <div>
                <section>
                    <figure></figure>
                    <h2></h2>
                    <p></p>
                </section>
            </div>
            <div>
                <section>
                    <figure></figure>
                    <h2></h2>
                    <p></p>
                </section>
            </div>
            <div>
                <section>
                    <figure></figure>
                    <h2></h2>
                    <p></p>
                </section>
            </div>
            
        </main>
        <footer>
            
        </footer>
    </div>
    
</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>