<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriStyle</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poiret+One&display=swap" rel="stylesheet">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">

    <!-- Css generico -->
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/general/footer.css">
    <link rel="stylesheet" href="/css/general/header.css">
    <!-- Css real -->
    <link rel="stylesheet" href="/css/views/productDetail.css">
    
</head>

<body>
    <div>
        <!--************************************************************************************************************* 
            Header
        **************************************************************************************************************-->
        
        <header>
            <!-------------------------------------------------------------------
                 Etiqueta de ejemplo (utilizar para marcar logo, barra busqueda, login, registro, etc)
            -------------------------------------------------------------------->
        </header>

        <!--************************************************************************************************************* 
            Main
        **************************************************************************************************************-->
        
        <main>
            <!-------------------------------------------------------------------
                 Etiqueta de ejemplo (utilizar para marcar producto, carrousel, imagenes, etc)
            -------------------------------------------------------------------->
        </main>

        <!--************************************************************************************************************* 
            Footer
        **************************************************************************************************************-->
        
        <footer>
            <!-------------------------------------------------------------------
                 Etiqueta de ejemplo (utilizar para marcar redes sociales, textos, etc)
            -------------------------------------------------------------------->
        </footer>
    </div>
    
</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>