<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriStyle</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poiret+One&display=swap" rel="stylesheet">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">

    <!-- Css generico -->
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/general/footer.css">
    <link rel="stylesheet" href="/css/general/header.css">
    <!-- Css real -->
    <link rel="stylesheet" href="/css/views/productDetail.css">
    
</head>

<body>
    <!--************************************************************************************************************* 
            Header
        **************************************************************************************************************-->

        <header class="main-header">
            <section class="top-header">

                <article id="burger">
                    <a href="#" class="burger-menu"> 
                        <i class="fa fa-bars burger"></i>
                    </a>
                </article>

                <article id="logo-header">  
                    <a href="/" ><h1>CRISTYLE</h1></a>
                </article>

                <article>    
                    <a href="#" class="user">
                        <i class="fas fa-user"></i>
                    </a>
                </article>

                <article>
                    <nav class="navbar">
                        <ul class="left-navbar">
                            <li><a href="#">Hombre</a></li>
                            <li><a href="#">Mujer</a></li>
                            <li><a href="#">Ofertas</a></li>
                        </ul>

                        <ul class="right-navbar">
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li><a href="/register">Registrarse</a></li>
                        </ul>

                    </nav>
                </article>
                <article>
                    <button class="cart">
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </button>
                </article>
            </section>
            <section>
                <article class="main-searchbar">
                    <form action="GET" class="search-bar">
                        <input type="search" name="BarraBusqueda" placeholder="Buscar productos">
                        <button type="submit" class="icono-barrabusqueda">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </article>
            </section>
        </header>

  <!--============================================================================ MAIN===========================================================================================-->
  <!--============================================================================ MAIN===========================================================================================-->
  <!--============================================================================ MAIN===========================================================================================-->
  <div>
       
      <main> 
        <div class="titulo-producto">
            <h2>PRODUCTO X</h2>
        </div>    
            <div class="left-flexbox"> 
                <section class="main-images">
                    <figure>
                        <img src="/images/carrito/ropamujer.jpg">
                    </figure>
                </section>
                <section class="left-images">
                    <figure>
                        <img src="/images/carrito/ropamujer.jpg">
                    </figure>
                    <figure>
                        <img src="/images/carrito/ropamujer.jpg">
                    </figure>
                    <figure>
                        <img src="/images/carrito/ropamujer.jpg">
                    </figure>
                    <figure>
                        <img src="/images/carrito/ropamujer.jpg">
                    </figure>
                </section>
            </div>
            <div class="right-flexbox">
                <div class="titulo-producto-desktop">
                    <h3>PRODUCTO X</h3>
                </div>
                <div class="in-flexbox">
                    <section>
                        <div class="descripcion-producto">
                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>  <p> $4500 </p>
                        </div>
                    </section>
                    <section>
                        
                        <div>
                            <article class="colores">
                                <p>Color</p>
                            </article>
                            <article class="colores-images">
                                <figure>
                                    <img src="/images/carrito/ropamujer.jpg">
                                </figure>
                                <figure>
                                    <img src="/images/carrito/ropamujer.jpg">
                                </figure>
                               
                            </article>
                        </div>
                        
                    </section>
                    
                    <section>
                        <div class="label-talles">
                            <label>Seleccione su talle</label>
                        </div>
                        <div  class="talles-producto">
                            <form action="#" method="POST">
                               
                                <div class="check-list">
                                    <div class="style-checklist">
                                        <div>
                                            <label for="Talle-S"><a href="#">S</a></label>
                                        </div>
                                    </div>
                                    <div class="style-checklist">
                                        <div>
                                            <label for="Talle-M"><a href="#">M</a></label>
                                        </div>
                                    </div>
                                    <div class="style-checklist">
                                        <div>
                                            <label for="Talle-L"><a href="#">L</a></label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section>
                        <div class="botones-producto">
                            <ul>
                                <li><a href="/productCart">Añadir al carrito</a><i class="fas fa-shopping-cart"></i></li>
                                <li><a href="#">Favoritos</a><i class="far fa-heart"></i></li>
                            </ul>
                        </div>
                    </section>
                    <section>
                        <div class="last-p">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                        </div>
                    </section>
                </div>
            </div>
      </main>
  </div>
  <!--============================================================================ FOOTER===========================================================================================-->
  <!--============================================================================ FOOTER===========================================================================================-->
  <!--============================================================================ FOOTER===========================================================================================-->
  <div>
      <footer>
            <section class="footer">

                <section class="footer-links">
                    <section class="footer-links-izq">
                        <div>
                            <p>Hazte miembro</p>
                        </div>
                        <div>
                            <p>Buscar una tienda</p>
                        </div>
                        <div>
                            <p>Newsletter</p>
                        </div>
                    </section>
                    
                    <section class="footer-links-der"> 
                        <div>
                            <p>Estado del pedido</p>
                        </div>
                        <div>
                            <p>Envío y seguimiento</p>
                        </div>
                        <div>
                            <p>Contacto</p>
                        </div>
                    </section>
                </section>

                <section class="social-media">
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>    
                    </div>
                    <div>
                        <i class="fab fa-youtube-square"></i>    
                    </div>
                    <div>
                        <i class="fab fa-instagram-square"></i>    
                    </div>
                </section>

            </section>
        </footer>
  </div>
</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>