<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriStyle</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poiret+One&display=swap" rel="stylesheet">
    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">

    <!-- Css generico -->
    <link rel="stylesheet" href="/css/general/normalize.css">
    <link rel="stylesheet" href="/css/general/footer.css">
    <link rel="stylesheet" href="/css/general/header.css">
    <!-- Css real -->
    <link rel="stylesheet" href="/css/views/register.css">
    
</head>

<body>
    <div>
        <!--************************************************************************************************************* 
            Header
        **************************************************************************************************************-->

        <header class="main-header">
            <section class="top-header">

                <article id="burger">
                    <a href="#" class="burger-menu"> 
                        <i class="fa fa-bars burger"></i>
                    </a>
                </article>

                <article id="logo-header">  
                    <a href="/" ><h1>CRISTYLE</h1></a>
                </article>

                <article>    
                    <a href="#" class="user">
                        <i class="fas fa-user"></i>
                    </a>
                </article>

                <article>
                    <nav class="navbar">
                        <ul class="left-navbar">
                            <li><a href="#">Hombre</a></li>
                            <li><a href="#">Mujer</a></li>
                            <li><a href="#">Ofertas</a></li>
                        </ul>

                        <ul class="right-navbar">
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li><a href="/register">Registrarse</a></li>
                        </ul>

                    </nav>
                </article>
                <article>
                    <button class="cart">
                        <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                    </button>
                </article>
            </section>
            <section>
                <article class="main-searchbar">
                    <form action="GET" class="search-bar">
                        <input type="search" name="BarraBusqueda" placeholder="Buscar productos">
                        <button type="submit" class="icono-barrabusqueda">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </article>
            </section>
        </header>


        <!--************************************************************************************************************* 
            Main
        **************************************************************************************************************-->
        
        <main>
            <section id="main">
                <section id="formulario">

                    <h2 id="titulo">REGISTRO</h2>

                    <form action="/register" method="POST">

                        <div class="campo-texto">
                            <input type="text" placeholder="Nombre" required>
                        </div>

                        <div class="campo-texto">
                            <input type="text" placeholder="Apellido" required>
                        </div>

                        <div class="campo-texto">
                            <input type="email" placeholder="Dirección de email" required>
                        </div>

                        <div class="campo-texto" id="contraseña">
                            <input type="password" placeholder="Contraseña" required minlength="8">
                        </div>

                        <label for="date" id="fecha-nacimiento">Fecha de nacimiento</label>
                        <div class="campo-texto" id="date">
                            <input type="date" id="date" required>
                        </div>

                        <div id="terminos-condiciones">
                            <input type="checkbox" name="terminos_condiciones" value="true" id="terminos" checked>
                            <label for="terminos">Acepto los términos y condiciones</label>
                        </div>

                        <div class="boton" id="registrarme">
                            <button type="submit">REGISTRARME</button>
                        </div>
                    </form>
                </section>
            </section>
        </main>

       <!--************************************************************************************************************* 
            Footer
        **************************************************************************************************************-->

        <footer>
            <section class="footer">

                <section class="footer-links">
                    <section class="footer-links-izq">
                        <div>
                            <p>Hazte miembro</p>
                        </div>
                        <div>
                            <p>Buscar una tienda</p>
                        </div>
                        <div>
                            <p>Newsletter</p>
                        </div>
                    </section>
                    
                    <section class="footer-links-der"> 
                        <div>
                            <p>Estado del pedido</p>
                        </div>
                        <div>
                            <p>Envío y seguimiento</p>
                        </div>
                        <div>
                            <p>Contacto</p>
                        </div>
                    </section>
                </section>

                <section class="social-media">
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>    
                    </div>
                    <div>
                        <i class="fab fa-youtube-square"></i>    
                    </div>
                    <div>
                        <i class="fab fa-instagram-square"></i>    
                    </div>
                </section>

            </section>
        </footer>
    </div>
    
</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>