/**** Footer *****/

/*-----------------------------------------MOBILE-------------------------------------------------*/

footer{
/*Temporal hasta que creemos el main*/
    padding-bottom: 1rem;
    font-weight: 100;
    background-color: #1b1b1b;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.footer-links{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin: 1rem;
    border-bottom: 1px #7e7e7e solid;
}

.footer-links-izq div, .footer-links-der div{
    padding: 0.5rem 0;
}

.social-media{
    color: #7e7e7e;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
/*-----------------------------------------TABLET-------------------------------------------------*/

@media (min-width: 768px){

    .footer{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links{
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        border-bottom: none;
    }

    .social-media{
        flex-wrap: wrap;
        align-items: center;
        width: 25%;
    }

    .social-media div{
        padding: 0.5rem;
    }
    
}

/*-----------------------------------------DESKTOP-------------------------------------------------*/

@media (min-width: 992px){

    

    
}