/**** Header *****/

/*-----------------------------------------MOBILE-------------------------------------------------*/

.header {
    background-color: #1b1b1b;
}   

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.burger-menu i {
    color: #be9e44;
    font-size: 160%;
    padding-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0.25rem;
    top: 10vh;
    z-index: 1;
    background-color: #be9e44;
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center;
}

#dropdown-content-user {
    right: 0.25rem;
    left:auto
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    70% {
      transform: scaleY(1.05)
    }
    100% {
      transform: scaleY(1)
    }
}

#dropdown-burger:hover .dropdown-content {
    display: block;
}

#dropdown-user:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 1rem 0.5rem;
}

.dropdown-content li a {
    color:#ffffff;
}

.dropdown-content li:hover {
    background-color: #57430d;
}

#logo-header a {
    color: #ffffff;
    font-size: 2.5rem;
}

.left-navbar {
    display: none;
}

.right-navbar {
    display: none;
}

.search-bar-form {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    width: 100%;
    border: 2px solid black;
}

.search-bar-form input {
    padding: 2%;
    width: 94%;
    outline: none;
}

.search-bar-form i{
    background-color: white;
    outline: none;
}

.user-and-cart i{
    color:  #be9e44 ;
    font-size: 160%;
    padding-right: 8px;
}

.user-and-cart {
    margin: 0 5%;
    display: flex;
}

.user-and-cart img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: auto;
    margin-right: 6px;
}

#user-greeting {
    display: none;
}

/* -----------------------------------------TABLET-------------------------------------------------*/

@media (min-width: 768px) {

    #dropdown-burger {
        display: none;
    }

    .top-header{
        justify-content: space-between;
    }

    #logo-header{
        padding-left: 2rem;
    }

    h1{
        font-size: 3.3rem;
    }

    .user-and-cart{
      padding-right: 1rem;
    }

    .user-logged{
        display: flex;
    }
    
    .user-logged img{
        max-width: 50px;
        max-height: 50px;
        margin-top: 2px;
        border-radius: 50%;
    }
    
    .user-logged p{
        color: white;
    }

    .left-navbar {
        display: flex;
        padding-top: 0.5rem;
    }
    
    .left-navbar li {
        margin: auto;
        list-style: none;
        margin-bottom: -28px;
        

    }

    .left-navbar a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      .left-navbar a:hover:after { 
        width: 100%; 
        left: 0; 
      }

    .left-navbar a {
       color: white;
       position: relative;
       padding: 5px;
    }

    .left-navbar ul {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 10% 0 5%;
     }

     .search-bar-form input {
        padding: 8px;
    }

    #user-greeting{
        display: inline-block;
        color: white;
        margin-right: 8px;
    }

}

/* -----------------------------------------DESKTOP-------------------------------------------------*/
 
@media (min-width: 1200px) {

.right-navbar {
    display: flex;
    position: absolute;
    top: 3%;
    right:3%;
    align-content: center;
}

.right-navbar ul {
    list-style: none;
    display: flex;
}

.right-navbar li {
   padding-left: 20px;
}

.right-navbar a {
   color: white;
}

.right-navbar i {
    color: #be9e44;
    font-size: 1.5rem;
    padding-right: 8px;
 }

.user-and-cart{
    display: none;
}

h1{
    font-size: 4.7rem;
}

.left-navbar{
    width: 60%;
    margin: 1% 0 -2% 20%;
    font-size: 1.2rem;
}

.user-logged{
    margin-right: 25px;
}

.user-logged img {
    width: 70px;
    height: 70px;
}

.user-logged p {
    margin-top: 28px;
    margin-right: 10px;
}

#profile {
    margin-top: 28px;
    margin-right: 10px;
}

.user-logged a{
    margin: 16px 0 0 10px;
}

.user-logged i{
    font-size: 2rem;
}

}