/**** Header *****/

/*
    Franco querido, tene en cuenta que las clases que
    crees acá NO pueden repetirse en los CSS de Footer,
    Index, ProductCart, ProductDetail, Register y Login
*/

/*
    PD: Usemos estos comentarios en el codigo, tanto HTML como CSS para comunicarnos
*/

/*-----------------------------------------MOBILE-------------------------------------------------*/

.header {
    background-color: #1b1b1b;
}   

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.burger-menu i {
    color: #be9e44;
    font-size: 160%;
    padding-left: 10px;
}

#logo-header a {
    color: #ffffff;
    font-family: "Poiret One", cursive;
    font-size: 2.5rem;
}

.left-navbar {
    display: none;
}

.right-navbar {
     display: none;
}

.search-bar-form {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    width: 100%;
    border: 2px solid black;
}

.search-bar-form input {
    padding: 2%;
    width: 94%;
    outline: none;
}

.search-bar-form i{
    background-color: white;
    outline: none;
}

.user i{
    color:  #be9e44 ;
    font-size: 160%;
    padding-right: 8px;
}

.cart a {
    font-size: 160%;
    color:#be9e44;
    outline: none;
}

.user-and-cart {
    padding-right: 10px;
}


/* -----------------------------------------TABLET-------------------------------------------------*/

@media (min-width: 768px) {

    #burger {
        display: none;
    }

    .top-header{
        justify-content: space-between;
    }

    #logo-header{
        padding-left: 2rem;
    }

    h1{
        font-size: 3.3rem;
    }

    .user-and-cart{
      padding-right: 1rem;
    }
    .user-and-cart i{
        padding: 8px;
    }


    .left-navbar {
        display: flex;
        padding-top: 0.5rem;
    }
    
    .left-navbar li {
        margin: auto;
        list-style: none;
        margin-bottom: -28px;
        

    }

    .left-navbar a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      .left-navbar a:hover:after { 
        width: 100%; 
        left: 0; 
      }

    .left-navbar a {
       color: white;
       position: relative;
       text-transform: ;
       padding: 5px;
    }

    .left-navbar ul {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 10% 0 5%;
     }

     .search-bar-form input {
        padding: 8px;
}

/* -----------------------------------------DESKTOP-------------------------------------------------*/
 
@media (min-width: 1200px) {

.right-navbar {
    display: block;
    position: absolute;
    top: 3%;
    right:3%;
}

.right-navbar ul {
    list-style: none;
    display: flex;
}

.right-navbar li {
   padding-left: 20px;
}

.right-navbar a {
   color: white;
}

.right-navbar i {
    color: #be9e44;
    font-size: 1.5rem;
    padding-right: 8px;
 }

.user-and-cart{
    display: none;
}

h1{
    font-size: 4.7rem;
}

.left-navbar{
    width: 60%;
    margin: 1% 0 -2% 20%;
    font-size: 1.2rem;
}

}