/**** Header *****/

/*
    Franco querido, tene en cuenta que las clases que
    crees acá NO pueden repetirse en los CSS de Footer,
    Index, ProductCart, ProductDetail, Register y Login
*/

/*
    PD: Usemos estos comentarios en el codigo, tanto HTML como CSS para comunicarnos
*/

/*-----------------------------------------MOBILE-------------------------------------------------*/

.main-header {
    background-color: #1b1b1b;
    position: relative; 
}   

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    
}


.burger-menu i {
    color: #be9e44;
    font-size: 160%;
}

.img-logo{
    width: 8.125rem;
}

.user i{
    color:  #be9e44 ;
    font-size: 160%;
    margin-left: 2.1875rem;
}

.left-navbar {
    display: none;
}

.right-navbar {
    display: flex;
    display: none;
}

.right-navbar a {
    color: white;
    margin-right: 15%;
}

.search-bar {
    display: flex;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    width: 100%;
    border: 0.0625rem solid rgb(100, 100, 100);
    
}

.search-bar input {
    padding: 2%;
    width: 94%;
    outline: none;
}

.search-bar i{
    background-color: white;
    outline: none;
}

.cart {
    font-size: 160%;
    color:#be9e44;
    outline: none;
}

/* -----------------------------------------TABLET-------------------------------------------------*/

@media (min-width: 768px) {
    .top-header {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .img-logo {
        position: absolute;
        width: 140px;
        margin-left: 2%;
        left: 0;
        top: 0;
    }
    
    .user i {
        position: absolute;
        right: 8%;
        font-size: 140%;
        top: 31%;
    }
    
    .burger-menu {
        display: none;
    }
        
    .search-bar {
        position: absolute;
        background-color: white;
        padding: 0.5%;
        margin: auto;
        width: 27%;
        border-radius: 5px;
        top: 20%;
        right: 13%;
    }
    
    .search-bar input {
        display: flex;
        margin:auto;
        outline: none;
        width: 100%;
    }
    
    .icono-barrabusqueda {
        outline: none;
        margin-right: 2%;
    }
    
    .search-bar i {
        background-color: white;
        outline: none;
    }
    
    .navbar {
        display: flex;
        justify-content: space-around; 
    }
    
    .navbar ul {
        list-style-type: none;
    }
    
    .navbar a {
        color: white;
    }
    
    .left-navbar {
        display: flex;
        position: absolute;
        left: 24%;
        top: 28%;
    }
    
    .left-navbar li {
        margin-right: 25%;
    }
    
    .right-navbar {
        display: none;
        
    }    
    
    .cart {
        padding: 1.25rem;
        font-size: 140%;
    }
    
}

/* -----------------------------------------DESKTOP-------------------------------------------------*/
 
@media (min-width: 992px) {

.top-header {
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
}

.img-logo {
    position: absolute;
    width: 10%;
    margin-left: 1%;
    left: 0;
    top: 0;
}

.user {
    display: none;
}

.burger-menu {
    display: none;
}
    
.search-bar {
    position: absolute;
    background-color: white;
    padding: 0.1%;
    margin: auto;
    width: 21%;
    border-radius: 5px;
    top: 25%;
    right: 7%;
}

.search-bar input {
    display: flex;
    margin:auto;
    outline: none;
    width: 100%;
}

.icono-barrabusqueda {
    outline: none;
    margin-right: 2%;
    margin-top: 1px;
}

.search-bar i {
    background-color: white;
    outline: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    color: white;
}

.left-navbar {
    display: flex;
    position: absolute;
    left: 20%;
    top: 25%;
}

.left-navbar li {
    margin-right: 50%;
}

.right-navbar {
    position: absolute;
    display: block;
    width: 15%;
    top: 0;
    right:30%;
}

.right-navbar li {
    margin-bottom: 5%;
}

.cart {
    padding: 1rem;
    margin-right: 0.625rem;
    margin-top: 0.3rem;
}

}