/**** Header *****/

/*
    Franco querido, tene en cuenta que las clases que
    crees acá NO pueden repetirse en los CSS de Footer,
    Index, ProductCart, ProductDetail, Register y Login
*/

/*
    PD: Usemos estos comentarios en el codigo, tanto HTML como CSS para comunicarnos
*/

/*-----------------------------------------MOBILE-------------------------------------------------*/

.main-header {
    background-color: #1b1b1b; 
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.burger-menu i {
    color: #be9e44;
    font-size: 30px;
}

.img-logo{
    width: 130px;
}

.user i{
    color:  #be9e44 ;
    font-size: 30px;
    margin-left: 35px;
}

.left-navbar {
    display: none;
}

.right-navbar {
    display: flex;
    display: none;
}

.right-navbar a {
    color: white;
    margin-right: 15px;
}

.search-bar {
    display: flex;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    width: 350px; /* Ojo que al hacer esto si la resolucion es menor a 350px se rompe el sitio. Preferible ponerlo en % o en vw*/
    border-radius: 5px;
}

.search-bar input {
    padding: 5px;
    width: 325px;
    outline: none;
}

.search-bar i{
    background-color: white;
    outline: none;
}

.cart {
    font-size: 30px;
    color: #57430D;
    outline: none;
}

/*-----------------------------------------DESKTOP-------------------------------------------------*/
 
@media (min-width: 992px) {
    
.search-bar {
    background-color: white;
    padding: 5px;
    margin: auto;
    width: 350px;
    border-radius: 5px;
}

.search-bar input {
    display: flex;
    margin:auto;
    outline: none;
    width: 320px;
}

.icono-barrabusqueda {
    outline: none;
}

.search-bar i {
    background-color: white;
    outline: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    color: white;
    
}

.left-navbar {
    display: flex;
    position: absolute;
    margin-left: 80px;
    top: 20px;
}

.left-navbar li {
    margin-right: 15px;
}

.right-navbar {
    display: flex;
    position: absolute;
    margin-top: 40px ;
}

.right-navbar li {
    padding: 0 20px;
}

}