/**** Normalize *****/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
    vertical-align: top;
}

button, input{
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

