/**** Normalize *****/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:  "Poiret One", cursive, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
    vertical-align: top;
}

button, input{
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family:  "Poiret One", cursive, sans-serif;
    font-size: 1rem;
}

ul, ol{
    list-style-type: none;
}