/**** allProducts *****/

#title {
    font-size: 1.4rem;
    margin: 0 2rem;
}

#noMatch {
    font-size: 1rem;
    margin: 1rem 2rem 80vh;
}
/* ===============================================================TABLET==============================================================*/

@media (min-width:768px) {
    
}

/* ==============================================================DESKTOP==============================================================*/

@media (min-width: 992px) {
    
    #title {
        font-size: 2rem;
    }

    #noMatch {
        font-size: 1.5rem;
    }
}
