/**** allProducts *****/

#title {
    font-size: 1.4rem;
    padding-left: 15px;

}

.productos-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-home {
    text-align: center;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    margin: 1rem;
    width: 80vw;
    border: 1px cyan dotted; /*AAAAAAAAAAAAAAAAA*/
}

.productos-home img {
    padding: 2rem;
}

.name {
    padding: 0.2rem;
    text-transform: uppercase;
}

.productos-home p {
    padding: 0.2rem;
}

.boton-comprar {
    background-color: #1b1b1b;
    border-radius: 5px;
    width: fit-content;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.25rem
}

.boton-comprar a {
    color: white;
    font-size: 1rem;
    margin: auto;
    width: fit-content;
}

/* ===============================================================TABLET==============================================================*/

@media (min-width:768px) {
      
    .productos-flex {
        justify-content: space-between;
        border: 1px red dotted; /*AAAAAAAAAAAAAAAAA*/
    }

    .productos-home {
        width: 40vw;
    }

}

/* ==============================================================DESKTOP==============================================================*/

@media (min-width: 992px) {
   
    .productos-home {
       width: 20vw;
    }

    #title {
        margin: -1.5rem 0 1rem 1rem;
        font-size: 2rem;
    }
}
