/**** Index *****/

main{
    background-color: white;
}

/********************Carrusel********************/

.top-carrusel {
    text-align: center;
    margin: 1rem;
}

.top-carrusel h1 {
    padding: 2rem;
}

.top-carrusel p {
    width: 80vw;
    margin: auto;
    padding: 1rem;
}

.productos-flex{
    margin-bottom: 5rem;
}

/* ===============================================================TABLET==============================================================*/

@media (min-width:768px) {
    .top-carrusel img {
        height: 20rem;
    }
}

/* ==============================================================DESKTOP==============================================================*/

@media (min-width: 992px) {
    .top-carrusel img {
        height: 25rem;
    }
}
