/**** Index *****/

main{
    background-color: white;
}

.top-carrusel {
    text-align: center;
    margin: 1rem;
}

.top-carrusel h1 {
    padding: 2% ;
}

.top-carrusel img {
    margin: 0;
    padding: 0;
}

.top-carrusel p {
    width: 80%;
    margin: auto;
    padding: 1%;
}

.boton-comprar {
    background-color: #1b1b1b;
    border-radius: 5px;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.25rem
}

.boton-comprar a {
    color: white;
    font-size: 1rem;
    margin: auto;
    width: fit-content;
}

.productos-home {
    text-align: center;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    margin: auto;
    margin-bottom: 1rem;
    width: 80%;
}

.productos-home img {
    padding: 5%;
    width: 80%;
    height: 20rem;
}

.productos-home h3 {
    padding: 1%;
}

.productos-home p {
    padding: 2%;
}

/* ===============================================================TABLET==============================================================*/

@media (min-width:768px) {
    .top-carrusel img {
        height: 20rem;
    }
    
    .productos-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .productos-home {
        width: 40%;
    }

}

/* ==============================================================DESKTOP==============================================================*/

@media (min-width: 992px) {
    .top-carrusel img {
        height: 25rem;
    }
    
    .productos-flex {
        display: flex;
        flex-wrap: wrap;
    }
   
    .productos-home {
       width: 20%;
    }
}
