/**** Index *****/

main{
    background-color: white;
    
}

.top-carrusel {
    text-align: center;
    margin: 1rem;
   
}

.top-carrusel h1 {
    padding: 3% ;
}

.top-carrusel img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top-carrusel p {
    width: 80%;
    margin: auto;
    padding: 3%;
}

.productos-home {
    text-align: center;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    margin: auto;
    margin-bottom: 1rem;
    width: 80%;
}

.productos-home img {
    padding: 5%;
    width: 80%;
    height: 20rem;
}

.productos-home h3 {
    padding: 1%;
}

.productos-home p {
    padding: 2%;
}

/* ===============================================================TABLET==============================================================*/

@media (min-width:768px) {
    .top-carrusel img {
        height: 20rem;
    }
    
    .productos-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .productos-home {
        width: 40%;
    }
}

/* ==============================================================DESKTOP==============================================================*/

@media (min-width: 992px) {
    .top-carrusel img {
        height: 25rem;
        width: 80%;
    }
    
    .productos-flex {
        display: flex;
        flex-wrap: wrap;
    }
   
    .productos-home {
       width: 20%;
    }
}
