/**** productDetail *****/
ul {
    text-decoration: none;
    list-style: none;
}

.titulo-producto {
    text-align: center;
}

.left-images{
    text-align: center;
    display: flex;
    margin-top: 1rem;
}


.left-images img {
    width: 80%;
    
}

.main-images {
    text-align: center;
}

.main-images img {
    width: 90%;
}

.left-flexbox {
    margin-top: 1rem;
}

.colores-images {
    display: none;
}

.descripcion-producto {
    text-align: center;
    margin: 0.8rem 0px;
    margin-bottom: 1rem;
}

.talles-producto {
    text-align: center;
}

.label-talles {
   margin: 0.5rem 0rem;
}

.label-talles label {
    font-weight: 100;
}

.check-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem;
}

.style-checklist {
    background-color: #be9e44;
    color: black;
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
}

.style-checklist div {
    margin-top: 0.35rem;
}


.botones-producto ul li {
    background-color: black;
    color: white;
    text-align: center;
    height: 3rem;
    width: 90%;
    margin: 0.5rem auto;
    border-radius: 1.5rem;
}

.botones-producto ul li a {
    color: white;
    padding: 1rem;
    
}

.botones-producto ul li i {
     margin-top: 1rem;
}

.last-p {
    display: none;
}


/*===================================TABLET=====================================*/

@media (min-width: 768px){

}

/*===================================DESKTOP=====================================*/

@media (min-width: 992px){

    main {
        display: flex;
    }

    .main-images img {
        width: 50%;
    }

    .left-images {
        display: block;
    }

    .left-images img {
        width: 10%;
    }

}