/**** productCart *****/

/*-----------------------------------------MOBILE-------------------------------------------------*/

.titulo {
    margin-left: 3%;
    margin-right: 5%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: #7e7e7e 1px solid;
}

.border {
    margin: 5% 3%;
    border-bottom: 1px #7e7e7e solid ;
}

.flex-total {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#boton-pagar-1 {
    width: 40%;
}

.boton {
    background-color: black;
    height: 3rem;
    border-radius: 8px;
    width: fit-content;
    padding: 0.50rem;
}

.boton button {
    color: #ffffff;
}

.boton:hover{
    background-color: #be9e44;
    cursor: pointer;
}

.boton:hover button{
    cursor: pointer;
}

.total-margin {
    margin-top: 4%;
    width: 20%;
}

/************************* Productos *******************************/

.flex-main {
    display: flex;
    justify-content: flex-start;
    align-items: initial;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 1rem;
    border-bottom: #7e7e7e 1px solid;
    border-top: #7e7e7e 1px solid;
}

.img-main{
    width: 50%;
    margin-left: 3%;
}

.section-flex {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.descripcion-producto {
    margin-right: 1rem;
    margin-left: 3rem;
}

.descripcion-producto p {
    margin-bottom: 20%;
}

/************************* Resumen pedido *******************************/

.resumen-pedido {
    margin-left: 3%;
    margin-right: 3%;
}

.titulo-resumen {
    margin: 2% 0%;
}

.flex-resumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

#boton-pagar-2 {
    margin: auto;
    width: 30vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#boton-pagar-2 div {
    margin: auto;
}

/************************* Extras *******************************/

.extras {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2rem;
    border-bottom: 1px #7e7e7e solid ;
}

.extras2 {
    margin-bottom: 2%;
}

.opciones-pago {
    margin-left: 3%;
}

.flex-opcionespago {
    display: flex;
    justify-content: space-evenly;
}

.flex-opcionespago div {
    margin-top: 2%;
    margin-bottom: 2%;
}

.flex-opcionespago div i {
    font-size: 2rem;
    color: #57430D;
}

/*-----------------------------------------TABLET-------------------------------------------------*/

@media (min-width: 768px) {
    
/************************* Titulo *******************************/

    .titulo #tu-carrito {
        text-align: center;
        margin-top: 1rem;
    }

    .titulo .flex-total {
        display: none;
    }

/************************* Carrito *******************************/

    #carrito {
        display: flex;
        justify-content: space-between;
        background-color: #9e9e9e;
        margin: 2rem;
    }

/************************* Izquierda carrito *******************************/

    #izquierda-carrito {
        width: 40vw;
    }

/************************* Derecha carrito *******************************/

    #derecha-carrito {
        width: 50vw;
        border-left: 1px solid #7e7e7e;
    }

    .resumen-pedido {
        background-color: #7e7e7e;
        padding: 1rem;
        margin-top: 1rem;
    }

    .extras {
        margin-top: 2rem;
    }
    
}