.welcome{
    padding: 10px;
}

#profile-image{
    max-width: 60vw;
    margin-left: 20vw;
    margin-bottom: 30px;
}

.data-cont {
    margin-left: 12.5vw;
}

.data-cont p {
    margin-bottom: 8px;
}

h2{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.edit-button-div{
    margin: 15px 0 15px 55vw;
}

.edit-button-div i {
    color: #be9e44;
}

@media (min-width: 590px ){
    .image-and-data{
        display: flex;
        justify-content: space-around;
    }

    #profile-image {
        max-width: 35vw;
        margin-left: 0;
    }

    .data-cont {
        margin-left: 0;
    }

    .edit-button-div{
        margin: -10% 0 10% 73vw;
    }

}

@media (min-width: 1200px ){
    h1 {
        font-size: 3rem;
        margin-top: -4%
    }
    h2{
        font-size: 1.8rem;
    }

    #profile-image{
        max-width: 15vw;
        margin-left: 30px;
        margin-top: 10px;
    }

    .image-data-editButton {
        font-size: 1.5rem;
    }

    .image-and-data{
        display: flex;
        justify-content: left;
    }

    .data-cont{
        margin-top: -3vh;
        margin-left: 15vw;
    }

    .edit-button-div{
        margin: -3% 0 5% 76vw;
    }
}