<!DOCTYPE html>
<%-include ("./partials/head", {particularCSS: cssSheets}) %>
<body>
    
    <%-include("./partials/header") %>

    <main>

        <!-- Implementar carrusel a futuro -->
        <div class="top-carrusel">
            <section>
                <figure>
                    <img src="images/index/carrusel.jpg" class="imagen-carrusel">
                </figure>
                <h1>¡Rebajas CriStyle!</h1>
                <p> Una página donde las prendas estan a la altura de tu estilo </p>
            </section>
        </div>

        <div class="productos-flex">
            <div class="productos-home">
                <section>
                    <figure>
                        <a href="/products/detail"><img src="images/index/vestido_rojo.jpg" class="imgagen-productos"></a>
                    </figure>
                    <h3>VESTIDO SUNRISE</h3>
                    <p>$4.500</p>
                    <button type="submit" class="boton-comprar">
                        <a href="/products/cart">COMPRAR</a>
                    </button>
                </section>
            </div>
            <div class="productos-home">
                <section>
                    <figure>
                        <a href="/products/detail"><img src="images/index/campera-pretty.jpg"
                                class="imgagen-productos"></a>
                    </figure>
                    <h3> CAMPERA PRETTYSTYLE</h3>
                    <p>$12.000</p>
                    <button type="submit" class="boton-comprar">
                        <a href="/products/cart">COMPRAR</a>
                    </button>
                </section>
            </div>
            <div class="productos-home">
                <section>
                    <figure>
                        <a href="/products/detail"><img src="images/index/campera_black_stone.jpg"
                                class="imgagen-productos"></a>
                    </figure>
                    <h3>CAMPERA ROMA BLACK STONE</h3>
                    <p>$3.000</p>
                    <button type="submit" class="boton-comprar">
                        <a href="/products/cart">COMPRAR</a>
                    </button>
                </section>
            </div>
            <div class="productos-home">
                <section>
                    <figure>
                        <a href="/products/detail"><img src="images/index/top-venec.jpg" class="imgagen-productos"></a>
                    </figure>
                    <h3>TOP VENEC PRINT</h3>
                    <p>$3.750</p>
                    <button type="submit" class="boton-comprar">
                        <a href="/products/cart">COMPRAR</a>
                    </button>
                </section>
            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>
    
</body>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>