<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <h1 id="title">Todos los productos</h1>
        <div class="productos-flex">
            <% for( let index = 0; index < 9; index++ ) { %>
                <article class="productos-home">
                    <figure>
                        <a href="/products/detail"><img src="../images/products/topCristyle.jpg" class="imgagen-productos"></a>
                    </figure>
                    <h3 class="name">top cristyle</h3>
                    <p class="description">Top blanco sin mangas </p>
                    <p class="price">$950</p>
                    <p class="discount">0% descuento</p>
                    <button type="submit" class="boton-comprar">
                        <a href="/products/cart">COMPRAR</a>
                    </button>
                </article>
            <% } %>
        <div>
    </main>
        
    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>