<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <div class="productos-flex">

            <% for( let index = 0; index < 9; index++ ) { %>
                <div class="productos-home">
                    <section>
                        <figure>
                            <a href="/products/detail"><img src="../images/index/vestido_rojo.jpg" class="imgagen-productos"></a>
                        </figure>
                        <h3>VESTIDO SUNRISE</h3>
                        <p>$4.500</p>
                        <button type="submit" class="boton-comprar">
                            <a href="/products/cart">COMPRAR</a>
                        </button>
                    </section>
                </div>
            <% } %>

    </main>
        
    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>