<footer>
    <section class="footer">

        <section class="footer-links">
            <section class="footer-links-izq">
                <div>
                    <p>Hazte miembro</p>
                </div>
                <div>
                    <p>Buscar una tienda</p>
                </div>
                <div>
                    <p>Newsletter</p>
                </div>
            </section>
            
            <section class="footer-links-der"> 
                <div>
                    <p>Estado del pedido</p>
                </div>
                <div>
                    <p>Envío y seguimiento</p>
                </div>
                <div>
                    <p>Contacto</p>
                </div>
            </section>
        </section>

        <section class="social-media">
            <div>
                <i class="fab fa-twitter-square"></i>
            </div>
            <div>
                <i class="fab fa-facebook-square"></i>    
            </div>
            <div>
                <i class="fab fa-youtube-square"></i>    
            </div>
            <div>
                <i class="fab fa-instagram-square"></i>    
            </div>
        </section>

    </section>
</footer>