<header class="header">
    <section class="top-header">

        <article id="burger">
            <a class="burger-menu"> 
                <i class="fa fa-bars burger"></i>
            </a>
            <ul id="burger-dropdown">
                <li><a href="/productos/todos">Todos los productos</a></li>
                <li><a href="/productos/todos/hombre">Hombre</a></li>
                <li><a href="/productos/todos/mujer">Mujer</a></li>
                <li><a href="/productos/todos/ofertas">Ofertas</a></li>
                <li><a href="/productos/agregar">Agregar productos</a></li>
            </ul>
        </article>

        <article id="logo-header">  
            <a href="/" ><h1>CRISTYLE</h1></a>
        </article>

        <section class="user-and-cart">
            <% if (locals.isLogged) { %>
            <a href="/usuarios/perfil"><img src="/images/users/<%= locals.userLogged.profileImage %>" alt="imagen de perfil"></a>
            <p id="user-greeting">Tu cuenta</p>

            <% } else { %>
            <a href="/usuarios/iniciarSesion" class="user">
                <i class="fas fa-user"></i>
            </a>
            <% } %>
       
            <button class="cart">
                <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a>
            </button>

            <% if (locals.isLogged) { %>
            <a href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i></a>
            <% } %>
        </section>

    </section>

    <section class="navbars">
        <nav class="left-navbar">
                <ul class="secondary-categories">
                    <li><a href="/productos/todos">Todos los productos</a></li>
                    <li><a href="/productos/todos/hombre">Hombre</a></li>
                    <li><a href="/productos/todos/mujer">Mujer</a></li>
                    <li><a href="/productos/todos/ofertas">Ofertas</a></li>
                    <% if (locals.userLogged && locals.userLogged.roleId == 1) { %>
                    <li><a href="/productos/agregar">Agregar productos</a></li>
                    <% } %>
                </ul>
        </nav>
        
        <nav class="right-navbar">
        <% if (locals.isLogged) { %>
            <nav class="user-logged">
                <a href="/usuarios/perfil"> <img src="/images/users/<%= locals.userLogged.profileImage %>" alt="imagen de perfil"></a>
                <a id="profile" href="/usuarios/perfil">Tu cuenta</a>
                <a href="/productos/carrito"><i class="fas fa-shopping-cart"></i>Tus compras</a>
                <a href="/usuarios/logout"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
            </nav>

            <% } else { %>
                <ul>
                    <li><a href="/usuarios/iniciarSesion"><i class="fas fa-sign-in-alt"></i>Iniciar Sesión</a></li>
                    <li><a href="/usuarios/registrarse"><i class="fas fa-user-plus"></i>Registrarse</a></li>
                </ul>
        <% } %>
        </nav>
        </section>

    <section class="searchbar-section">
            <form action="/productos/todos" method="GET" class="search-bar-form">
                <input type="search" name="busqueda" placeholder="Buscar productos">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </article>
    </section>
</header>
