<header class="main-header">
    <section class="top-header">

        <article id="burger">
            <a href="#" class="burger-menu"> 
                <i class="fa fa-bars burger"></i>
            </a>
        </article>

        <article id="logo-header">  
            <a href="/" ><h1>CRISTYLE</h1></a>
        </article>

        <article>    
            <a href="#" class="user">
                <i class="fas fa-user"></i>
            </a>
        </article>

        <article>
            <nav class="navbar">
                <ul class="left-navbar">
                    <li><a href="#">Hombre</a></li>
                    <li><a href="#">Mujer</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="/users/login">Iniciar Sesión</a></li>
                    <li><a href="/users/register">Registrarse</a></li>
                </ul>

            </nav>
        </article>
        <article>
            <button class="cart">
                <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
            </button>
        </article>
    </section>
    <section>
        <article class="main-searchbar">
            <form action="GET" class="search-bar">
                <input type="search" name="BarraBusqueda" placeholder="Buscar productos">
                <button type="submit" class="icono-barrabusqueda">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </article>
    </section>
</header>
