<!DOCTYPE html>

<%-include ("../partials/head", {particularCSS: cssSheets}, {title: title}) %>

<body>
    
    <%- include("../partials/header") %>

    <main>
        <section id="main">
            <section id="formulario">

                <h2 id="titulo">REGISTRO</h2>

                <form action="/usuarios/registrarse" method="POST" enctype="multipart/form-data">

                    <div class="campo-texto">
                        <input type="text" name="firstName" placeholder="Nombre" required>
                    </div>

                    <div class="campo-texto">
                        <input type="text" name="lastName" placeholder="Apellido" required>
                    </div>

                    <input type="radio" name="category" value="2" checked > Cliente <br>
                    <input type="radio" name="category" value="1"> Admin

                    <div class="campo-texto">
                        <input type="email" name="email" placeholder="Dirección de email" required>
                    </div>

                    <div class="campo-texto" id="contraseña">
                        <input type="password" name="password" placeholder="Contraseña" required minlength="8">
                    </div>

                    <label for="date" id="fecha-nacimiento">Fecha de nacimiento</label>
                    <div class="campo-texto" id="date">
                        <input type="date" name="birthdate" id="date" required>
                    </div>

                    <label class= "label" for="image">Elige tu foto de perfil</label>
                    <input class= "label" type="file" name="userImage">

                    <div id="terminos-condiciones">
                        <input type="checkbox" name="terminos_condiciones" value="true" id="terminos" checked>
                        <label for="terminos">Acepto los términos y condiciones</label>
                    </div>

                    <div class="boton" id="registrarme">
                        <button type="submit">REGISTRARME</button>
                    </div>
                </form>
            </section>
        </section>
    </main>

    <%- include("../partials/footer") %>

</body>
<script src="https://kit.fontawesome.com/613ba21445.js" crossorigin="anonymous"></script>
</html>